.body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/images/login.jpg");
  background-size: cover;

}

.cover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.form-wallpaper {
  background: rgba(0, 0, 0, 0.75);
  z-index: 55555;
}

input::placeholder {
  color: white;
  /* Change this to your desired color */
}

input {
  color: white !important;
}

@media only screen and (max-width: 1000px) {
  .b-gg {
    width: 100% !important;
  }
}