<mat-tab-group class="text-white">
    <mat-tab label="Actors">
        <div class="container overflow-hidden  w-100 my-5 py-5 higth z-3v">
            <div class="my-5 py-5 ">

                <owl-carousel-o *ngIf="imgPathCast && imgPathCast.length > 0" [options]="customOptions">
                    <ng-container *ngFor="let movie of imgPathCast">
                        <ng-template carouselSlide>
                            <a class="text-decoration-none" [routerLink]="['/peopledetails', movie.id]">
                                <div class="  my-3 mx-5">
                                    <img [src]="originalPoster + movie.profile_path" class="w-imggg rounded-4"
                                         alt="">
                                </div>
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>







            </div>
        </div>
    </mat-tab>


    <mat-tab label="Videos">
        <div class="container my-5 py-5 overflow-hidden  w-100 mt-5 pt-5  ">
            <div class=" ">
                <div class="text-white py-4 row ">
                    <div class="col-md-4" *ngFor="let movie of vediosCast">
                        <div (click)="getvideos(movie.key)" class="mx-3 rounded-4 position-relative poi ">
                            
                            <img alt="" class="img-fluid w-imgg  rounded-4" src="https://img.youtube.com/vi/{{movie?.key}}/hqdefault.jpg"
                                data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                <i class="fa-brands fa-youtube text-red  position-absolute top-50 end-48 fs-1 fw-bolder"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab class="text-white" label="Poster">
        <div class="container  higth w-100 my-5 py-5  z-3v">
            <div class="  row ">


                <div class="col-md-4 " *ngFor="let movie of imgPost">


                    <div    class=" my-3 mx-4  rounded-4">
                        <img [src]="imagePrefix + movie.file_path" class="w-imgg img-fluid rounded-4" height="350" alt="">
                    </div>


                </div>







            </div>
        </div>
    </mat-tab>
</mat-tab-group>


<app-video-modal [videoKey]="key"></app-video-modal>