<div class="bg-footer ">
    
    <div class="container  py-5">

        <div class="row align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <div><a class="text-decoration-none text-white fs-1" href="https://www.linkedin.com/in/abdo-adel-71430628a/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="text-decoration-none text-white fs-1 mx-3" href="https://github.com/Abdo-adel88"><i
                    class="fa-brands fa-github"></i></a></div>
<div class="text-center">
    <h5 class="mt-2 text-white">Playground© 2024 By <span class="text-warning">AbdElrahman Adel</span>. All rights reserved</h5>
    <h5 class="mt-2 text-white">Designed and Built by me, Data provided by <a  title="The Movie DB" class="text-warning text-decoration-none" href="https://www.themoviedb.org/">TMDB</a></h5>
</div>

            </div>
        </div>
    </div>
</div>